body {
  margin: 0px;
  font-family: helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  color: seashell;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  padding-left: 10px;
  border-bottom: 1px solid seashell;
  Width: 100%;
  Height: 69px;
  z-index: 1;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-grow: 1;
  height: 10px;
}
.navigation {
  display: inline-block;
  text-align: center;
  justify-content: flex-end;
  padding-right: 40px;
}


/* content container */
.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto 80px auto;
  width: 1248px;
}

/* Mission section */

.our-mission {
  background-image: url(images/img-mission-background.jpg);
  width: 1248px;
  height: 700px;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 70px;
}

.mission-banner {
  text-align: center;
  background-color: black;
  height: 100px;
  width: 1248px;
  margin-top: 300px;
}

/* Featured Tea */

.featured-tea {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 1248px;
}

.tea-banner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tea-images {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.tea-images-2 {
  display: flex;
  justify-content: center;
}
.img-content {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.myrtle .img-content {
  margin-bottom: 80px;
}
/* location */
.locations {
  display: flex;
  flex-direction: column;
  width: 1248px;
  height: 700px;
  background-image: url(images/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.locations-header {
  width: 1248px;
  height: 100px;
  margin-top: 20px;
  text-align: center;
}

.locations-boxes {
  line-height: 38px;
  margin:0 auto 0 auto;
  opacity: 1;

}
.locations-boxes .downtown, .east-bayside, .oakdale {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  width: 300px;
  height: 300px;
}

.east-bayside, .oakdale {
  margin-left: 40px;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 200px;
  margin-bottom: 50px;
  margin-top: -120px;
  background-color: black;
}

footer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: left;
}
