body {
  margin: 0;
  font-family: helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  color: seashell;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  padding-left: 10px;
  border-bottom: 1px solid seashell;
  Width: 100%;
  Height: 69px;
  z-index: 1;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
  height: 10px;
}
.navigation {
  display: inline-block;
  text-align: center;
  justify-content: flex-end;
  padding-right: 40px;
}

/* content container */
.content {
  display: flex;
  flex-direction: column;
  width: 1248px;
  margin: 0 auto 80px auto;
  padding-top: 120px;
}

/* Mission section */

.our-mission {
  background-image: url(images/img-mission-background.jpg);
  margin-top: 120px;
  width: 1200px;
  height: 700px;
}

.mission-banner {
  text-align: center;
  background-color: black;
  height: 100px;
  Width: 1200px;
  margin-top: 300px;
}

/* Featured Tea */

.featured-tea {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 1000px;
  padding-left: 100px;
  padding-right: 100px;

}

.tea-banner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tea-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  margin: 10px 100px;
}
.img-content {
  display: flex;
  justify-content: center;
}

/* Tea of the Month Images */
.berry {
  margin: 5px;
}

.rum {
  margin: 5px;
}

.donuts {
  margin: 5px;
}

.myrtle {
  margin: 5px;
}

.bizarre {
  margin: 5px;
}

.locations {
  background-image: url(images/img-locations-background.jpg);
  margin-top: 120px;
  width: 1200px;
  height: 500px;
}
